---
const features = [
  {
    title: "NOS ENCANTA LLEVARTE",
    description: "¡Viaje con Cita para una mejor experiencia!",
  },

];
---

<section class="w-full py-45 bg-[url(/src/assets/fondo-carry.png)]">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-1 gap-12 text-center">
    {features.map((feature) => (
      <div class="flex flex-col items-center"> 
        <h3 class="font-extrabold font-normal mt-4 text-5xl font-semibold text-black">{feature.title}</h3>
        <p class="text-gray-700 text-sm max-w-xs">{feature.description}</p>
      </div>
    ))}
  </div>
</section>
